<div class="d-flex flex-column min-vh-100">
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <h1 class="fs-4 text-center text-lg-start">
          <a class="text-white text-decoration-none" [routerLink]="['/list']">To-do List</a>
        </h1>
      </div>
    </div>
  </header>

  <main class="py-5 bg-light flex-grow-1">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer class="footer py-3 bg-dark text-white">
    <div class="container text-center">
      <a href="https://github.com/Chris7T" target="_blank" class="text-white"><i class="fab fa-github"></i>
        GitHub : Chris7T</a>
      <br>
      <a href="https://www.linkedin.com/in/christian-santos-goncalves/" target="_blank" class="text-white"><i
          class="fab fa-linkedin"></i> LinkedIn : Christian Santos</a>
      <br>
      <a href="mailto:christian.santos7@hotmail.com" class="text-white"><i class="far fa-envelope"></i> E-mail : christian.santos7@hotmail.com</a>
      <br>
      <a href="https://wa.me/whatsappphonenumber" target="_blank" class="text-white"><i class="fab fa-whatsapp"></i>
        WhatsApp : (38) 98851-4964</a>
    </div>
  </footer>

</div>